[submodule "reference/cy"]
	path = reference/cy
	url = git@github.com:zhangjiwang2006/cy.git
[submodule "reference/libudpard"]
	path = reference/libudpard
	url = git@github.com:zhangjiwang2006/libudpard.git
